@charset "utf-8";

/* Account for fixed navbar */
body {
	padding-top: 70px;
 	padding-bottom: 30px;
}

/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}


/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
 .container {
   max-width: none !important;
   width: 970px;
 }
 
/* Demonstrate the grids */
 .col-xs-4 {
   padding-top: 15px;
   padding-bottom: 15px;
   background-color: rgba(86,61,124,.15);
   border: 1px solid rgba(86,61,124,.2);
 }

.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

/* Always float the navbar header */
.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-toggle {
  display: none;
}

.navbar-brand {
	margin: auto;
}

/* Always apply the floated nav */
.navbar-nav {
  float: right;
  margin: 0;
}
.navbar-nav > li {
  float: none;
}
.navbar-nav > li > a {
  padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: left;
}

/* Undo custom dropdowns */
.navbar .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
}
.navbar .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .open .dropdown-menu > li > a:hover,
.navbar .open .dropdown-menu > li > a:focus,
.navbar .open .dropdown-menu > .active > a,
.navbar .open .dropdown-menu > .active > a:hover,
.navbar .open .dropdown-menu > .active > a:focus {
  color: #003302 !important;
}
.navbar .open .dropdown-menu > .disabled > a,
.navbar .open .dropdown-menu > .disabled > a:hover,
.navbar .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}
.header {
	background-color: #92D651;
}
#editar-fundo {
	background-color: #92D651;
}#clicked {
	background-color: #92D651;
}
.carrosselmargem {
	margin-top: 25px;
	background-color: #C3F9BB;
}
@media only screen and (max-width: 480px) {
.navbar .open .dropdown-menu > li > a { 
	font-size: small;
}
.scrollable-menu {
    height: auto;
	width: auto;
	max-height: 220px;
	overflow: auto;
	overflow-x: hidden;
}
#center-logo {
	max-width: 75%;
	max-height: 100%;
	padding-top: 10px;
}
#editar-fundo {
	padding-right: -10px;
}
}

@media only screen and (max-width: 320px) {
.scrollable-menu {
    height: auto;
	width: auto;
	max-height: 150px;
	overflow: auto;
}
#center-logo {
	max-width: 50%;
	max-height: 100%;
	padding-top: 20px;
}
#editar-fundo {
	marign-top: -25px;
}
#logo {
max-width: 50%;
}
#clicked {
max-width: 50%;
}
}
h4 {
	text-align:center;
	font-family:"Open Sans", sans-serif;
	font-weight:500;
}
body {
	background-color: #c6f59e;
}
