@charset "utf-8";

#background {
	max-width: 100%;
	max-height: 100%;
	background-size: auto auto;
}
	body {
		background-color: #aff4f9;
	}
#logo {
	margin-top: -25px;
}

#header {
	background-color: #c5e2b5;
}

#background-header {
	background-color:#c5e2b5;
}
a {
	font-family: "Open Sans", sans-serif;
	font-color: #0E2E00;
}
.paddings {
	padding-top: 25px;
}
h4 {
	text-align:center;
	font-family:"Open Sans", sans-serif;
	font-weight:500;
}
#logo {
	margin-left: 60px;
}
@media only screen and (max-width: 480px) {
  #logo {
	margin-left: 0px;
  }
  #move-nav {
	margin-right: 0px;
}
}
#move-nav {
	margin-right: 60px;
}
.margem-cont {
	margin-top: 5px;
}
.div-1 {
	max-width: 50%;
	max-height: 100%;
	float: left
}
.div-2 {
	max-width: 50%;
	max-height: 100%;
	float: right;
}
@media only screen and (max-width: 480px) {
	.div-1, .div-2 {
		max-width: 100%;
		max-height: 50%;
	}
	.margem-cont {
		margin-top: 20px;
	}
}
.padding {
	padding: 0px;
}
#pezinho {
	margin-top: 20px;
}
@media only screen and (min-width: 1370px)
{
	.div-1 {
		padding-left: 255px;
	}
	.div-2 {
		padding-right: 255px;
	} 
} #nav-oque {
	border-bottom: 1px solid #26B7C1;
}
li {
	transition-duration: 0.1s;
}