@charset "utf-8";

body {
	background-color: #f4b8d3;
}
#background {
	max-width: 100%;
	max-height: 100%;
	background-size: auto auto;
}
#logo {
	margin-top: -25px;
}
a {
font-color: #0E2E00;
	font-family:"Open Sans", sans-serif;
}

#header {
	background-color: #c5e2b5;
}

#background-header {
	background-color:#c5e2b5;
}
#logo {
	margin-left: 60px;
}
.margem-cont {
	margin-top: 75px;
}
.div-1 {
	max-width: 50%;
	max-height: 100%;
	float: left
}
.div-2 {
	max-width: 50%;
	max-height: 100%;
	float: right;
}
@media only screen and (max-width: 480px) {
	.div-1, .div-2 {
		max-width: 100%;
		max-height: 50%;
	}
	.margem-cont {
		margin-top: 85px;
	}
}
.padding {
	padding: 0px;
}
#pezinho {
	margin-top: 20px;
}
@media only screen and (min-width: 1370px)
{
	.div-1 {
		padding-left: 255px;
	}
	.div-2 {
		padding-right: 255px;
	} 
} 
#border-quem {
	border-bottom: 2px solid #f26ea0;
}
li {
	transition-duration: 0.1s;
}
@media only screen and (max-width: 480px) {
  #logo {
	margin-left: 0px;
  }
  #move-nav {
	margin-right: 0px;
}
}
#move-nav {
	margin-right: 60px;
}
.espaço {
	padding-top: 25px;
}

#call-to-action {
	margin: auto;
	transition-duration: 0.1s;
}