@charset "utf-8";
.header {
	min-height: 60px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: #92D651;
	z-index: 2;
}
#center-logo {
	margin: auto;
}
.margem-topo {
	margin-top: 85px;
}
a:link {
	color: #0B3100;
	font-weight: normal;	
}
a:hover {
	text-decoration: none;
	color:#267306;
	font-weight: bold;
}
a:visited {
	color: #0B3100;
}
/* fundo e rodapé */
#background {
	background-color: 	#c6f59e;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	max-width: auto;
	max-height: auto;
	min-width: 100%;
	min-height: 100%;
}
#foot {
	bottom: 0px;
	width: 100%;
	text-align: center;
	font-family: Open Sans, sans-serif;
	font-size: normal;
	font-weight: bold;
	color: #0B3100;
	font-style: normal;
}
html, body {
	height: 100%;
	max-height: auto;
}
.content {
	position:relative;
}


#objeto1 {
	float: none;
	max-height: 0%;
	max-width: 70%;
	margin-top: -35%;
	margin-left: 30%;
}
#objeto2 {
	max-width: 50%;
	float: none;
	margin-top: 5%;
	max-height: 75%;
	margin-left: 5%;
}
#tamanho-carrossel {
	max-width: 100%;
	max-height: 100%;
}
@media only screen and (max-width: 460px) {
	#objeto2 {
		max-height: 50%;
		max-width: 100%;
	}
	#objeto1 {
	margin-top: auto;
	max-height: 50%
	}
}
